# Environment variables definition

# The environment (development / production)
NODE_ENV=development

# The port the app runs on
PORT=3000

# MongoDB URI connection string
MONGODB_URI=mongodb://localhost:27017/medical_ai_db

# Bytez API Key (get from bytez.com)
BYTEZ_API_KEY=your_bytez_api_key

# OpenFDA API Config
OPENFDA_API_URL=https://api.fda.gov/drug
OPENFDA_API_KEY=your_fda_api_key

# JWT Authentication
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=30d

# Zembra API (Sandbox key recommended for testing)
ZEMBRA_API_KEY=your_zembra_api_key
